<div class="wrap-body">
  <!--///////////////////////////////////////Top-->
  <div class="top">
    <div class="zerogrid">
      <ul class="number f-left">
        <li class="mail"><p>ContacUst@Gmail.com</p></li>
        <li class="phone"><p>08 88888 88888</p></li>
      </ul>
      <ul class="top-social f-right">
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!--////////////////////////////////////Header-->
  <header>
    <div class="zerogrid">
      <center>
        <div class="logo"><img src="images/logo.png" /></div>
      </center>
    </div>
  </header>
  <div class="site-title">
    <div class="zerogrid">
      <div class="row">
        <h2 class="t-center">
          Truely the best restaurant in town - The New York Times
        </h2>
      </div>
    </div>
  </div>
  <!--//////////////////////////////////////Menu-->
  <a href="#" class="nav-toggle">Toggle Navigation</a>
  <nav class="cmn-tile-nav">
    <ul class="clearfix">
      <li class="colour-1"><a href="index.html">Home</a></li>
      <li class="colour-2"><a href="menu.html">Menu</a></li>
      <li class="colour-3"><a href="location.html">Location</a></li>
      <li class="colour-4"><a href="archive.html">Blog</a></li>
      <li class="colour-5"><a href="reservation.html">Reservation</a></li>
      <li class="colour-6"><a href="staff.html">Our Staff</a></li>
      <li class="colour-7"><a href="news.html">News</a></li>
      <li class="colour-8"><a href="gallery.html">Gallery</a></li>
    </ul>
  </nav>

  <!--////////////////////////////////////Container-->
  <section id="container" class="sub-page">
    <div class="wrap-container zerogrid">
      <div class="crumbs">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="staff.html">Staff</a></li>
        </ul>
      </div>
      <div id="main-content">
        <div class="wrap-content">
          <div class="chef">
            <div class="row">
              <div class="col-1-4">
                <div class="wrap-col">
                  <div class="zoom-container">
                    <a href="#">
                      <img src="images/chef-1.jpg" />
                    </a>
                  </div>
                  <h3>Chef's Name</h3>
                  <ul class="social t-center">
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrap-col">
                  <div class="zoom-container">
                    <a href="#">
                      <img src="images/chef-2.jpg" />
                    </a>
                  </div>
                  <h3>Chef's Name</h3>
                  <ul class="social t-center">
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrap-col">
                  <div class="zoom-container">
                    <a href="#">
                      <img src="images/chef-3.jpg" />
                    </a>
                  </div>
                  <h3>Chef's Name</h3>
                  <ul class="social t-center">
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrap-col">
                  <div class="zoom-container">
                    <a href="#">
                      <img src="images/chef-4.jpg" />
                    </a>
                  </div>
                  <h3>Chef's Name</h3>
                  <ul class="social t-center">
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
